#
# 基本的にディレクトリはこのファイル(gitlab.config)を起点としています
# GitLab RunnerはScriptディレクトリにそれぞれ個別で起動できるスクリプトを配置しています
#
# >> 注意事項 << 
# これらの設定は全て閉じたネットワーク内で運用されることを想定しています
# GitLabは80番ポートを閉じているのでLet’s Encryptが使用できません
# docker-compose.ymlの生成は全てスクリプトで生成するようにしており
# docker-composeのバージョンは全てv3で書いています
# そのためv2は未対応です
#




################################################################
#
# コンテナ共通設定
#
################################################################

# docker-compose.ymlのバージョン(全て同じバージョンの方が保守や管理が楽なので)
# ただしv3のみ
DOCKER_COMPOSE_VERSION=3.8


################################################################
#
# DNS
#
################################################################

# GitLabRunnerがGitLabへ名前解決するためのIPアドレスやドメイン名を
# 空の場合はRunnerに自動で構築されたDNSへのアドレスが設定されます
# 
DNS_ADDRESS=

#
# 自動構築時の設定
#

# 主にコンテナの命名に関する設定
GITLAB_DNS_SERVICE_NAME=dnsmasq
GITLAB_DNS_CONTAINER_NAME=dnsmasq
GITLAB_DNS_HOST_NAME=dnsmasq

# DNSサービスのためのポート番号
DNS_PORT=53

# タイムゾーン
TIME_ZONE=Asia/Tokyo

# 自動構築の場合の追加のDNS設定



################################################################
#
# GitLab
#
################################################################

# 主にコンテナの命名に関する設定
GITLAB_SERVICE_NAME=gitlab
GITLAB_CONTAINER_NAME=gitlab
GITLAB_HOST_NAME=gitlab

# gitlabのデータを格納するディレクトリ
GITLAB_DATA_DIRECTORY=/data/gitlab


#
# ネットワーク関連
#

# GitLabにアクセスするためのドメイン名
DOMAIN_NAME=gitlab.sin0n0me.com

# https接続用のポート番号
HTTPS_PORT=443

# ssh接続用のポート番号
SSH_PORT=20460

# GitLab Runnerのネットワーク名
GITLAB_NETWORK_NAME=gitlab-network

#
# 自己署名証明書関連
#

# ディレクトリと拡張子を除いたファイル名(拡張子は.crt, .keyになります)
CERTIFICATE_DIRECTORY=/data/pki
CERTIFICATE_FILE_NAME=gitlab_sin0n0me_certificate

# 有効期限
CERTIFICATE_EXPIRATION_DATE=180

# 自己署名証明書を生成するコンテナの名前
SELF_SIGNED_CERTIFICATE_CONTAINER_NAME=gitlab-self-signed-certificate



################################################################
#
# GitLab Runner
#
################################################################

# gitlab runnerのデータを格納するディレクトリ
GITLAB_RUNNER_DATA_DIRECTORY=/data/gitlab/runner

# サービス名を指定できます
# サービス名は 指定したサービス名-識別用ランダム文字列 になります
GITLAB_RUNNER_SERVICE_NAME=gitlab-runner

# 構築されるランナー名の接頭語を指定できます
# 指定した接頭語_識別用ランダム文字列 の名前になります
PREFIX_TEST_RUNNER=gitlab_runner

# コンテナ名を指定できます
# コンテナ名は 指定したコンテナ名-識別用ランダム文字列 になります
GITLAB_RUNNER_CONTAINER_NAME=gitlab-runner

# ホスト名を指定できます
# ホスト名は 指定したコンテナ名-識別用ランダム文字列 になります
GITLAB_RUNNER_HOST_NAME=gitlab-runner


#
# ビルドに関する設定
#

# ビルドするツールの指定です
# MSBuild, CMake
BUILD_TOOL=MSBuild


#
# Windows用アプリケーションの設定
#

# Windowsアプリケーション実行用のタグ名
# コンマ区切りで書く必要があります
WINDOWS_RUNNER_TAG=Windwos


#
# Linuxアプリケーションの設定
#

# Linuxアプリケーション実行用のタグ名
# コンマ区切りで書く必要があります
LINUX_RUNNER_TAG=Linux


#
# テスト環境のディスプレイ設定
# 主にコンテナ内の環境変数になります
# サイズや深度以外は特に変更する必要はないはず
#

# 仮想ディスプレイのサイズ
DISPLAY_SIZE=1920x1080

# 仮想ディスプレイの深度
DISPLAY_DEPTH=24

# 実際にアプリケーションを表示するディスプレイ番号
VIRTUAL_DISPLAY_NUMBER=:1

# GPUアクセス用ディスプレイ番号
VGL_DISPLAY_NUMBER=:2

# スクリーン番号
SCREEN_NUMBER=0


#
# テスト環境のキャプチャ設定
# ffmpegの引数に渡されるものです
# https://ffmpeg.org/ffmpeg.html
#

# 動画のフレームレート
CAPTURE_FRAME_RATE=60

# キャプチャ時間のデフォルトの値
DEFAULT_CAPTURE_TIME=30

# キャプチャ時のビデオコーデック
CAPTURE_VIDEO_CODEC=libx264

# キャプチャ時のpreset
CAPTURE_PRESET=ultrafast


################################################################
#
# Kubernetes(検証するためのスペックとマシン数,(とお金)が足りないので計画だけ...)
#
################################################################


# Runner


